# Fichiers de données volumineux
*.pkl
!api/tokenizer.pkl 
*.parquet

# Fichiers et dossiers Python courants à ignorer
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Environnements virtuels (couvre racine et sous-dossiers)
env/
venv/
ENV/
env.bak/
venv.bak/
*/venv/ 

# Fichiers de configuration d'IDE et checkpoints
.vscode/
.idea/
*.swp
*.swo
# Checkpoints Jupyter (couvre racine et sous-dossiers)
.ipynb_checkpoints/
*/*/.ipynb_checkpoints/

# Fichiers secrets et de dépendances locales (si utilisés)
.env
*/.env  # <-- Ajout important !
*.log