fastapi
uvicorn[standard]
scikit-learn # Pour le pipeline LogReg/TFIDF
joblib # Pour charger le pipeline
numpy>=1.20
pandas # Garder si utilisé ailleurs ou par sklearn
# --- Dépendances de Test ---
pytest
httpx